* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --border-width: 8px;
  --accent-color: hsl(160deg, 100%, 30%);
  --secondary-color-light: hsl(45deg, 100%, 50%);
  --secondary-color-dark: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

/* Add styles here! */
h1 {
  font-size: 2rem;
  color: var(--black);
}

h2 {
  font-size: 1.25rem;
  color: var(--black)
}

strong {
  color: var(--accent-color);
}

p {
  color: var(--very-dark);
}

header {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: var(--border-width) solid var(--dark);
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--light);
}

section {
  background-color: var(--white);
  border-bottom: var(--border-width) solid var(--dark);
}

.max-width-wrapper {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  padding-bottom: 0;
}

.intro-chunk {
  max-width: 320px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.indented-heading {
  padding: 16px 40px;
  margin-left: -40px;
  margin-top: -8px;
  width: fit-content;
  background-color: var(--secondary-color-light);
  border-bottom: var(--border-width) solid var(--secondary-color-dark);
}
